AUTH_SECRET=
AUTH_PASSWORD=
CLOUDFLARE_TOKEN=
MYSQL_USERNAME=
MYSQL_PASSWORD=
CLOUDFLARE_TOKEN=
PSCALE_USER=
PSCALE_PASS=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
WS_PASSWORD=
TC_USERNAME=
TC_PASSWORD=
TC_URL=
STELLATE_PURGE_TOKEN=
WEBHOOK_URL=
WEBHOOK_USER="Data Manager"
SPT_TOKEN=
