.image-column img {
    max-width: 100%;
}

.item-image img {
    max-width: 100%;
}

pre {
    resize: both;
    overflow: auto;
    height: 100px;
    width: 100px;
}

tr:hover {
    background-color: #ccc;
}

.log-messages {
    color: #fff;
    background-color: #000;
    font-family: monospace;
    height: 200px;
    overflow: hidden scroll;
    padding-left: 15px;
}