#cache/
creds.env
credsbpk.env
node_modules
*.sql
bsg-data.json
item-props.json
scripts/local/
*.pem
!src/nginx/ssl-fake/*
src/tarkov-data-manager/logs/*.log
src/tarkov-data-manager/settings/crons.json
src/tarkov-data-manager/cache/*
!src/tarkov-data-manager/cache/.gitkeep
src/tarkov-data-manager/node-logs/*
!src/tarkov-data-manager/node-logs/.gitkeep
src/tarkov-data-manager/generated-images
src/tarkov-data-manager/generated-images/*
src/tarkov-data-manager/public/data/*.json
src/tarkov-data-manager/dumps/*.json

# Terraform
terraform.auto.tfvars.json
terraform/.terraform/providers
**/.terraform/*

# container volume files
data/*
!data/.gitkeep

tmp/
.DS_Store
