cache/
creds.env
node_modules
*.sql
dumps/
bsg-data.json
item-props.json
scripts/local/
*.pem
!src/nginx/ssl-fake/*
src/tarkov-data-manager/logs/*
src/tarkov-data-manager/settings/*

# Terraform
terraform.auto.tfvars.json
terraform/.terraform/providers
**/.terraform/*

# container volume files
data/*
!data/.gitkeep
