img {
    max-width: 128px;
}

pre {
    resize: both;
    overflow: auto;
    height: 100px;
    width: 100px;
}

tr:hover {
    background-color: #ccc;
}

.name-column {
    max-width: 200px;
    text-overflow: ellipsis;
}

.types-column {
    display: flex;
    flex-wrap: wrap;
}

.type-wrapper {
    width: 33%;
}

.scanners-wrapper {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.scanner {
    width: 50%;
}

.scanner pre {
    width: 100%;
}

.log-messages {
    color: #fff;
    background-color: #000;
    font-family: monospace;
    height: 200px;
    overflow: hidden scroll;
    padding-left: 15px;
}