{$DOMAIN} {
  reverse_proxy tarkov_data_manager:4000 {
    header_down Strict-Transport-Security max-age=31536000;
  }

  log {
    output stdout
    format json
    level info
  }
}

{$DOMAIN}:8443 {
  reverse_proxy tarkov_data_manager:5000 {
    header_down Strict-Transport-Security max-age=31536000;
  }

  log {
    output stdout
    format json
    level info
  }
}

{$CACHE_DOMAIN} {
  reverse_proxy cache:8080 {
    header_down Strict-Transport-Security max-age=31536000;
  }

  basicauth /api/* {
    {env.CACHE_BASIC_AUTH_USER} {env.CACHE_BASIC_AUTH_PASSWORD}
  }

  encode {
    gzip 9
  }

  log {
    output stdout
    format json
    level info
  }
}
