name: branch-deploy

on:
  issue_comment:
    types: [created]

# Permissions needed for reacting and adding comments for IssueOps commands
permissions:
  pull-requests: write
  deployments: write
  contents: write
  checks: read
  statuses: read

jobs:
  deploy:
    environment: production-secrets
    if: ${{ github.event.issue.pull_request }} # only run on pull request comments
    runs-on: ubuntu-latest

    steps:
      - uses: github/branch-deploy@v11
        id: branch-deploy
        with:
          admins: the-hideout/core-contributors
          admins_pat: ${{ secrets.BRANCH_DEPLOY_ADMINS_PAT }}
          environment_targets: production
          sticky_locks: "true"

      - name: checkout
        if: ${{ steps.branch-deploy.outputs.continue == 'true' }}
        uses: actions/checkout@v6
        with:
          ref: ${{ steps.branch-deploy.outputs.sha }}

      - name: SSH Remote Deploy
        if: ${{ steps.branch-deploy.outputs.continue == 'true' && steps.branch-deploy.outputs.noop != 'true' }}
        uses: appleboy/ssh-action@823bd89e131d8d508129f9443cad5855e9ba96f0 # pin@v1.2.4
        with:
          host: ${{ secrets.SSH_HOST_V2 }}
          username: ${{ secrets.SSH_USERNAME_V2 }}
          key: ${{ secrets.SSH_KEY_V2 }}
          port: ${{ secrets.SSH_PORT }}
          script_stop: true
          script: ~/tarkov-data-manager/script/deploy -r "${{ steps.branch-deploy.outputs.sha }}" -f "${{ steps.branch-deploy.outputs.fork_checkout }}" -d "/home/tdm/tarkov-data-manager" -n "${{ steps.branch-deploy.outputs.fork_full_name }}"
