name: ci

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: production
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # - uses: azure/login@cb79c773a3cfa27f31f25eb3f677781210c9ce3d # pin@v1.6.1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

      # - uses: hashicorp/setup-terraform@a1502cd9e758c50496cc9ac5308c4843bcd56d36 # pin@v3.0.0
      #   with:
      #     terraform_version: 1.1.7
      #     cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      # - name: Terraform init
      #   working-directory: terraform/
      #   run: terraform init

      # - name: Terraform apply
      #   working-directory: terraform/
      #   env:
      #     # Creds
      #     TF_VAR_CLIENT_ID: ${{ secrets.CLIENT_ID }}
      #     TF_VAR_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      #     TF_VAR_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
      #     TF_VAR_TENANT_ID: ${{ secrets.TENANT_ID }}
      #   run: terraform apply -auto-approve

      - name: SSH Remote Deploy
        uses: appleboy/ssh-action@029f5b4aeeeb58fdfe1410a5d17f967dacf36262 # pin@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script_stop: true
          script: ~/tarkov-data-manager/script/deploy -r="main" -d="tarkov-data-manager"

      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # pin@v5.1.0
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: health
        working-directory: script/health
        run: |
          pip install -r requirements.txt
          python health.py
